{% extends "core/site_base.html" %}
{% block content %}


  <p>
    <strong>WHY CrossFit Worthy?</strong>
  </p>
  <ul>
    <li>Only CrossFit in Mount Pleasant</li>
    <li>1-hour classes</li>
    <li>Clean &amp; Organized</li>
    <li>Professional</li>
    <li>Location: on Pickard Street, 1 mile from Mission!</li>
    <li>Shower available</li>
    <li>High-tech Performance tracking</li>
    <li>High end equipment</li>
    <li>Constantly Coached!</li>
  </ul>
<p><strong>WHO does CrossFit?</strong></p>
<ul>
<li>Our youngest is 12 and oldest is 84! If you fit in between you can do it too!</li>
</ul>
<p>*To truly understand what CrossFit is &nbsp;you have to <strong>DO</strong> CrossFit.&nbsp;
  It’s not just about the combination of Olympic and Power lifting, running,
  rowing, gymnastics, and plyometrics in the daily WOD (workout of the day),
  but it is the strong community that is built that really pushes you to the
  next level to achieve your long and short-term fitness goals.&nbsp; We are a
  team at CrossFit Worthy.&nbsp; We provide you with expert nutrition, strength
  and conditioning coaching, and you provide the hard work.</p>

<p><strong>Contact us for a ‘No Sweat Talk &amp; Tour’&nbsp;to see what we are
  so passionate about! CrossFit is for everyone, you do not need to be in good
  shape to start!&nbsp;</strong></p>
  
{% endblock %}
