{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  <meta charset="utf-8">
  <!-- Creating block tags so that the inheriting templates can over ride the title. -->
  {% block title %}
	 <title>Crossfit Worthy</title>
  {% endblock %}
    <link rel = "stylesheet" type="text/css" href="{% static "core/style.css" %}"/>
	{% block extra-head %}
	{% endblock %}
</head>
{% endblock %}
<body>
    <!-- Main Navigation Bar -->
    {% block nav-bar %}
    <nav>
      {% block nav-links %}
      	<ul>
      		<li><a href="/home/">Home</a></li>
      		<li>
            <a href="">Meet The Coaches <span class="caret"></span></a>
      			<div>
        			<ul>
        				<li>
        					<a href="">Contact Us <span class="caret"></span></a>
        				</li>
        				<li>
                  <a href="">Location <span class="caret"></span></a>
                </li>
        			</ul>
      			</div>
      		</li>
      		<li>
            <a href="">Membership & Pricing <span class="caret"></span></a>
            <div>
      				<ul>
      					  <li>
      						  <a href="">Get Started <span class="caret"></span></a>
                  </li>
        					<li>
                    <a href="">Programs <span class="caret"></span></a>
                  </li>
                  <li>
                    <a href="">Schedule <span class="caret"></span></a>
                  </li>
        				</ul>
        			</div>
          </li>
      		<li>
            <a href="/wod/">Wod Blog <span class="caret"></span></a>
          </li>
          <li>
            <a href="">Nutrition <span class="caret"></span></a>
            <div>
              <ul>
                <li>
                  <a href="">Recipies <span class="caret"></span></a>
                </li>
              </ul>
            </div>
          </li>
          <li><a href="">Testimonials <span class="caret"></span></a></li>
          <li><a href="">Weekly News <span class="caret"></span></a></li>
      	</ul>
         {% endblock %}
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>
